@font-face {
	font-family: "Doulos";
	src: url('Fonts/doulos.woff') format('woff');
}

body {
	background-color: rgb(250, 250, 250);
	color: black;
	font-size: 16px;
	font-family: "Noto Sans", sans-serif;
	margin: 5px;
	overflow: auto;
}

.flexcont {
	display: flex;
}

.flexcont > div {
	margin: 5px;
}

.header {
	font-size: 25px;
    font-family: "Doulos", "Noto Serif";
    margin-bottom: 5px;
    padding: 0;
	width: 100%;
}

hr {
	width: 100%;
}

.header a {
	color: black;
}

.header a:visited {
	color: black;
}

.maincontent {
    float: left;
}

.sidebar {
    background-color: #F0F0F0;
    border: 1px #999 solid;
    float: left;
}

.sidebar > ul {
	list-style-type: none;
}

.linklist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.linklist > li {
	display: block;
	text-align: center;
	padding: 5px;
}

.linklist a {
	text-decoration: none;
	color: black;
}

.linklist a:visited {
	color: black;
}

.linklist > li:hover {
	background-color: #FAFAFA;
}

a {
	text-decoration: none;
}

a:visited {
	color: rgb(100, 0, 190)
}

.footer {
    border-top: 1px #999 solid;
}

hr {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Doulos", "Noto Serif";
	font-weight: normal;
	text-indent: 20px;
}

p {
	text-indent: 20px;
}

/* Characteristics Table Styling */

table {
	border-collapse: collapse;
	border: 1px #999 solid;
	background-color: #F7F7F7;
}

.chartable {}

.chartable th, td {
	border: none;
	padding: 10px;
}

.chartable th {
	text-align: center;
}

.langtable {
	text-align: center;
}

.langtable th, td {
	font-size: 17.5px;
	font-weight: normal;
	border: 1px #999 solid;
	padding: 5px;
}

.langtable th {
	max-width: 600px;
	font-family: "Noto Serif", serif;
}

.langtable td {
	max-width: 600px;
	font-family: "Doulos";
}

.ltdleft {
	border-right: none;
}

.ltdright {
	border-left: none;
}


